<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken Ver4</title>
</head>

<body>
  <h1>Janken Game!!</h1>
  <a href="/logout">ログアウト</a>
  <br>
  <div th:if="${name}">
    Hi [[${name}]]
  </div>

  <div th:if="${users}">
    <h2>エントリー</h2>
    <ul>
      <li th:each="user : ${users}">
        <a th:href="@{/match(id=${user.id})}"> [[${user.name}]] </a>
      </li>
    </ul>
  </div>

  <div th:if="${matches}">
    <h2>試合結果</h2>
    <div th:each="match:${matches}">
      <tr>
        <td>id:[[${match.id}]]</td>
        <td>user1:[[${match.user1}]]</td>
        <td>user2:[[${match.user2}]]</td>
        <td>user1の手:[[${match.user1Hand}]]</td>
        <td>user2の手:[[${match.user2Hand}]]</td>
      </tr>
    </div>
  </div>

</body>

</html>
