<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample3-1</title>
</head>

<body>
  <h1>Janken Game!!</h1>
  <a href="/logout">ログアウト</a>
  <br>
  <a href="/entry">エントリー</a>
  <!--roomがあった場合に表示される-->
  <!--objectはdivの中でroomオブジェクトのフィールドにアクセスすることを示す-->
  <div th:if="${room}">
    DI利用
    <ul>
      <!--roomオブジェクトのroomNoというフィールドを指定している-->
      <li>RoomNo:[[${room.roomNo}]]</li>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
          thが指定されているので[]が不要になる-->
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>

  <br>

  <div th:if="${name}">
    Hi [[${name}]]
  </div>
  <br>
  <a href="/hand_rock">ぐー</a>
  <a href="/hand_scissors">ちょき</a>
  <a href="/hand_paper">ぱー</a>
  <br>
  <div th:if="${result}">
    あなたの手 [[${myhand}]]
    <br>
    相手の手 [[${cpuhand}]]
    <br>
    結果 あなたの[[${result}]]
  </div>


</body>

</html>
